{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/utils.html' as utils %}

{% block title %}Talks{% endblock %}

{%  block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
{% endblock %}

{% block navbar %}
{% include '_navbar.html' %}
{% endblock %}

{% block content %}
<div class="container">
    {{ utils.flashed_messages(container=False) }}
    {%  block page_content %}{% endblock %}
</div>
{% endblock %}

{%  block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}